@font-face {
  font-family: segoe;
  src: url(../font/SegMDL2.ttf);
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-user-select: none;
  user-select: none;
  margin: 0;
  border: 1px solid rgb(74, 123, 122);
}

.title {
  height: 20px;
  text-align: center;
  -webkit-app-region: drag;
  padding: 4px 0 0;
  font-size: 14px;

}

#titleBar {
  display: block;
  position: fixed;
  height: 32px;
  width: calc(100% - 2px);
  //background: #254053;
  background-image: url("../image/top/top_background.png");
  //background-attachment: fixed;
  //background-repeat: no-repeat;
  //background-size: cover;
  padding: 2px 0 0;

  #drag-region {
    width: 100%;
    height: 100%;
    -webkit-app-region: drag;
    display: grid;
    grid-template-columns: auto 138px;
    border-bottom: 1px solid rgb(136, 210, 208);

    #window-title {
      grid-column: 1;
      display: flex;
      align-items: center;
      font-family: "微软雅黑";
      color: #ffffff;
      font-size: 15px;
      margin-left: 8px;
      overflow-x: hidden;

      span {
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 1.5;
      }
    }

    #window-controls {
      display: grid;
      grid-template-columns: repeat(3, 46px);
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      font-family: segoe;
      font-size: 10px;
      -webkit-app-region: no-drag;

      .button {
        grid-row: 1 / span 1;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        color: #ffffff;
        user-select: none;
        cursor: default;
        opacity: 0.8;

        &:hover {
          background: rgba(255, 255, 255, 0.2);
          opacity: 1;
        }
      }

      #min-button {
        grid-column: 1;
      }

      #max-button, #restore-button {
        grid-column: 2;

      }

      #restore-button {
        display: none;
      }

      #close-button {
        grid-column: 3;

        &:hover {
          background: #E81123;
        }
      }
    }
  }
}

#app {
  height: calc(100% - 32px);
  margin-top: 32px;
  line-height: 1.0;
  //padding:20px;
  //overflow: auto;

  .home {
    height: 100%;

    #topPane {
      width: 100%;
      height: 96px;
      text-align: left;

      #topMenu {
        display: inline-block;
        background-image: url(../image/top/top_background.png);
        background-position: 0px 36px;
        height: 100%;
        width: 100%;

        .menu-app-logo {
          user-select: none;
          float: left;
          height: 100%;
          width: 250px;
          opacity: 1;
        }

        .side-toggle {
          height: 30px;
          width: 100%;
          text-align: right;
          color: white;

          .ivu-icon {

            background: #02867a;

            &:hover {
              background: rgba(255, 255, 255, 0.2);
            }
          }
        }

        .menu-container {
          float: left;
          height: 100%;
          width: calc(100% - 250px);

          .main-menu-container {
            display: grid;
            grid-template-columns: repeat(10, 74px);
            top: 0;
            right: 0;
            height: 40%;

            .menu-button {
              grid-row: 1 / span 1;
              display: flex;
              justify-content: center;
              align-items: center;
              width: 100%;
              //height: 100%;
              color: #ffffff;
              user-select: none;
              cursor: default;
              //opacity: 0.8;
              padding-right: 2px;
              margin: 6px 0px;
              font-size: 12px;

              .menu-button-icon {
                width: 20px;
                height: 20px;
              }

              &:hover {
                background: rgba(255, 255, 255, 0.2);
                opacity: 1;
              }
            }
          }

        }

        .sub-menu-container {
          float: left;
          display: grid;
          grid-template-columns: repeat(10, 64px);
          top: 0;
          right: 0;
          height: 60%;
          background-color: #f2f2f2;
          width: 100%;
          padding-left: 12px;

          .sub-menu-button {
            vertical-align: middle;
            grid-row: 1 / span 1;
            display: -webkit-box;
            justify-content: center;
            align-items: center;
            width: 100%;
            user-select: none;
            cursor: default;
            padding-right: 2px;
            margin: 6px 0px;
            font-size: 12px;
            text-align: center;

            .sub-menu-btn-wrapper {
              display: -webkit-box;
              -webkit-box-pack: center;
              justify-content: center;
              align-items: center;
              -webkit-box-align: center;
              width: 55px;
              padding: 2px;
              border: 1px solid #f2f2f2;

              &:hover {
                border: 1px solid #587776;
                border-radius: 3px;
              }

              .sub-menu-icon {
                width: 24px;
                height: 24px;
              }

              .sub-menu-button-text {
                display: inline-block;
                width: 50px;
              }
            }

          }
        }
      }
    }

    #viewer {
      //display: inline-block;
      height: calc(100% - 96px - 24px);
      width: 100%;

      .ivu-layout {
        height: 100%;
      }

      .ivu-layout-sider {
        background: #3c9089;
      }

      #leftPane {
        width: 250px;
        height: 100%;
        float: left;
        text-align: left;

        .query-wrapper {
          border-top: 2px solid #3c9089;
          border-bottom: 2px solid #3c9089;
          padding: 0px 2px;
        }

        .ivu-collapse {
          background-color: #96cecc;
          border-radius: 3px;
          border: 1px solid #416565;
          border-bottom: 0px;

          .ivu-collapse-item {
            border-top: 1px solid #416565;

            &:first-child {
              border-top: 0;
            }

            .ivu-collapse-header {
              height: 24px;
              line-height: 24px;
            }


            .ivu-collapse-content {
              color: #ffffff;
              padding: 0 16px;
              background-color: #3c9089;

              .ivu-collapse-content-box {
                padding-top: 1px;
                padding-bottom: 1px;
              }

              .ivu-checkbox-inner {
                background-color: #9ed6d3;
                border: 1px solid #5f6267;
              }

              .ivu-checkbox-checked .ivu-checkbox-inner {
                border-color: #0a6336;
                background-color: #208065;
              }

              .ivu-checkbox-indeterminate .ivu-checkbox-inner {
                border-color: #0a6336;
                background-color: #208065;
              }
            }
          }

          .ivu-collapse-item-active {
            .ivu-collapse-header {
              border-bottom: 1px solid #416565;
            }
          }
        }
      }

      #cesium-container {
        //width: calc(100% - 250px);
        height: 100%;
        float: left;
      }

    }

    #bottomPane {
      width: 100%;
      height: 24px;

      background: #34857e;
    }
  }
}

.ivu-select-dropdown {
  background-color: #f0f5fa;
}
.ivu-dropdown-menu {
  min-width: 82px;

  .ivu-dropdown-item {

    padding: 5px 16px;


    &:hover {
      background: #d7dccc;
    }
    //&:after {
    //  content: '';
    //  background-color: #8d9093;
    //  display: table;
    //  width: 71px;
    //  height: 3px;
    //  position: absolute;
    //  top: 29px;
    //  left: 10px;
    //  border: 2px solid #fff;
    //  border-bottom: 0;
    //}
  }
}

